body {background-color: #510000}

p, ol {color: #FFFFFF}
p, ol {font-family:'Courier New', Courier, monospace}
p, ol {font-size: 1em}

nav {background-color: #750000}
nav {font-size: 1em}
nav {font-family: 'Courier New', Courier, monospace;}
nav {padding: 10px}
nav {margin-bottom: 30px}

nav a {color: #EEEEEE}
nav a:hover {background-color: #C10000}

a {color: #EEEEEE}
a:hover {color: #C10000}

h1, h2 {color: #FFFFFF;}
h1, h2 {font-family:'Courier New', Courier, monospace;}
h1 {font-size: 3em;}
h2 {font-size: 2em}

tr:nth-child(even) {background: lightgrey}
tr:nth-child(odd) {background: white}

caption {color: white}

label {color: white}